* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  width: 888px;
}

.post{
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  
  justify-content: space-between;
  align-items: center;
}






















/*.App {
  width: 96%;
  height: 25px;
  left: 25%;
  margin: 25px 25px 25px 25px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.text_decoration{
  text-decoration: none;

}

.rectangle{
  width: 97%; 
  height: 5px;
  
  margin: 20px 200px 20px 20px;

  background: #ffad2a;
}*/